body, 
.signup-header, 
.signin-header,
.new-wiki-header,
.wiki-list-header,
.wiki-show-header,
.wiki-edit-header {
  padding-top: 54px;
}

.main-title {
  text-align: center;
  border: 1px solid #343A40;
  border-radius: 5px;
  padding: 5px 0px 0px 0px;
}

.plans-container {
  padding-left: 25%;
  margin-top: -20px;
}

#signup-button {
  margin-bottom: 30px;
}