<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>
  <main class="container">

    <% include ./partials/messages.ejs %>


    <header class="jumbotron my-4">
      <div class="main-title">
        <h1 class="display-3">Welcome to Blocipedia</h1>
        <h4>A place where your wikis live a happy life!</h4>
        <br>
        <p class="lead">Create, share and collaborate on Markdown Wikis</p>
        <a href="/users/sign_up" class="btn btn-primary btn-lg" id="signup-button">Sign up</a>
      </div>
    </header>


    <div class="plans-container">
      <section class="row text-center">

        <section class="col-lg-4">
          <h4 class="card-title">Free Plan</h4>
          <p class="card-text">Create as many public wikis as you want!</p></br>
          <a href="/users/standard" class="btn btn-primary btn-lg">Go Free</a>
        </section>


        <section class="col-lg-4">
          <h4 class="card-title">Premium Plan</h4>
          <p class="card-text">Do you want to include private wikis? Then...</p></br>
          <a href="/users/premium" class="btn btn-primary btn-lg">Go Premium</a>
        </section>
      </section>
    </div>


  </main>


  <% include ./partials/baseScripts.ejs %>
</body>

</html>