<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

  <!-- Page Content -->
  <main class="container">

    <% include ./partials/messages.ejs %>

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <div class="main-title">
        <h1 class="display-3">Blocipedia: Social, Markdown Wikis</h1>
        </br>
        </br>
        <p class="lead">Create and share Markdown Wikis</p>
        <a href="/users/sign_up" class="btn btn-primary btn-lg" id="signup-button">Sign up</a>
      </div>
    </header>

    <!-- Page Features -->
    <div class="plans-container">
      <section class="row text-center">

        <section class="col-lg-4">
          <h4 class="card-title">Free Plan</h4>
          <p class="card-text">Create as many public wikis as you want!</p></br>
          <a href="#" class="btn btn-primary btn-lg">Go Free</a>
        </section>


        <section class="col-lg-4">
          <h4 class="card-title">Premium Plan</h4>
          <p class="card-text">Do you want to include private wikis? Then...</p></br>
          <a href="#" class="btn btn-primary btn-lg">Go Premium</a>
        </section>
      </section>
    </div>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <% include ./partials/baseScripts.ejs %>
</body>

</html>